<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <!-- Responsive meta tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Meta Tags-->
  <meta name="robots" content="index, follow" />

  <meta property="og:title" content="NEED SEO"/>
  <meta property="og:image" content="NEED SEO"/>
  <meta name="og:locale" content="en_US">
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="Project"/>
  <meta property="og:url" content="NEED SEO">
  <meta property="og:description" content="NEED SEO"/>

  <meta property="website:section" content="NEED SEO">
  <meta property="website:publisher" content="NEED SEO">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@Project">
  <meta name="twitter:image" content="NEED SEO">
  <meta name="twitter:title" content="NEED SEO">
  <meta name="twitter:description" content="NEED SEO">

  <meta name="description" content="NEED SEO">
  <meta name="keywords" content="NEED SEO"/>
  <meta name="author" content="NEED SEO">
  <meta name="copyright" content="Copyright owner" />
